.container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 4rem;
}

.email {
    color: blue;
}

.myname {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 4.1rem;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container p {
    padding-left: 1rem;
}

.content {
    flex-grow: 1;
    width: 50%;
    display: inline-block;
}

.content p {
    margin: 0rem;
}

.content p a {
    text-decoration: none;
    color: #4169E1;
}

.container .tagline {
    margin-bottom: 1rem;
}

.container .github {
    margin-top: 1rem;
}

.picture {
    flex-grow: 1;
    width: 50%;
    display: inline-block;
}

@media (max-width: 750px) {
    .container {
        display: block;
        padding-top: 0rem;
    }
    .container p {
        padding-top: 1rem;
        padding-left: 0rem;
    }
    .content {
        display: block;
        width: 100%;
    }
    .picture {
        display: block;
        width: 100%;
    }
}