.container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 6.5rem;

}

.container p {
    padding-left: 1rem;
}

.content {
    flex-grow: 1;
    width: 50%;
    display: inline-block;
}

.content p {
    margin: 0rem;
}

.container .tagline {
    margin-bottom: 1rem;
}

.picture {
    flex-grow: 1;
    width: 50%;
    display: inline-block;
}

@media (max-width: 750px) {
    .container {
        display: block;
    }
    .container p {
        padding-top: 1rem;
        padding-left: 0rem;
    }
    .content {
        display: block;
        width: 100%;
    }
    .picture {
        display: block;
        width: 100%;
    }
}