.toptitle{
    font-size: xxx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
.posts {
    list-style: none;
    margin: 0;
    font-size:.5rem;
    text-decoration: none;
}


.excerpts {
    list-style: none;
    margin: 0;
    font-size:large;
    color: #777777

}

.card{
    list-style: none;
    background: #777777

}


.title{
    font-size: large;
    font-family: 'Roboto Slab';
    color:  #000000;
    text-decoration: none;
    a {

    }

    a.hover{
        color: #777777;
        background:  #000000;
    }
}

.topics{
    font-size: large;
    font-family:  'Roboto Slab', serif;
    color:  #000000;
}

.date{
    color:  #777777;
    font-family: 'Noto Sans', sans-serif;
}

.post {
    margin: 0.5rem 0;
    text-decoration: none;

    a {
        background: #e4e4e4 ;
        color: #000000;
        display: block;
        padding: .5rem;
        text-decoration: none;
        font-size: 1rem;
    }

    a:hover {
        background: #aeaeae;
    }

    h2 {
        margin-bottom: 0;
        font-size: large;
        font-family: sans-serif, 'Noto Sans';
        color:  #000000;

    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}

.tags{
    padding:  10px;
    display: inline-flex;
    font-variant: small-caps;
    list-style: none ;
    font-family: 'Noto Sans', 'sans-serif';
    text-decoration: none;


}

.logcontainer{
    display: flex;
    padding-left: 8rem;

}

.postTitle{
    font-size: x-large;
    font-family: 'Roboto Slab';
    color:  #000000;
    text-decoration: none;
}

@media(max-width: 1000px){
    .toptitle{
        padding-left: 8rem;
    }
    .topics{
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .logcontainer{
        padding-left: 8rem;
        display: flex;
    }


}