.toptitle{
    font-size: xxx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
.posts {
    list-style: none;
    margin: 0;
    font-size:.8rem
}
.title{
    font-size: large;
    font-family: sans-serif;
    color:  #000000;
    font-variant: small-caps;
}
.post {
    margin: 1rem 0;

    a {
        background: "white";
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
        font-size: 1rem;
    }

    a:hover {
        background: #e4e4e4;
    }

    h2 {
        margin-bottom: 0;
        font-size: large;
        font-family: sans-serif;
        color:  #000000;

    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}

.tags{
    a {
    font-size: medium;
    font-family: sans-serif;
    color:  #b52626;
    font-variant: small-caps;
    background:"grey"
    }

    a:hover{
        background: #e4e4e4;
    }

}